<html>
<body>
<h3>Perfil de <%= @cliente.nome %> </h3>
<%= @cliente.telefone %>

<% if current_cliente == @cliente %>
  <ul>
    <li><%= link_to "Editar dados", edit_cliente_path(current_cliente) %></li>
    <li><%= link_to "Excluir cadastro", @cliente, method: :delete %></li>
  </ul>
<% end %>
</body>
</html>